<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference
    for ="Doit\Announcement\Api\Data\AnnouncementInterface"
    type ="Doit\Announcement\Model\Announcement" />
    <preference
        for ="Doit\Announcement\Api\AnnouncementRepositoryInterface"
        type ="Doit\Announcement\Model\AnnouncementRepository" />
    <preference
        for="Doit\Announcement\Api\Data\AnnouncementSearchResultsInterface"
        type="Doit\Announcement\Model\AnnouncementSearchResults"/>
</config>
