<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="doit_announcement_saved">
        <observer
            name="doit_announcement_saved_logger"
            instance="Doit\Announcement\Observer\AnnouncementSaved"/>
    </event>
</config>
