<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <!--Main Sidebar-->
        <add
            id="Doit_Announcement::announcement"
            title="Announcements"
            translate="title"
            module="Doit_Announcement"
            resource="Doit_Announcement::announcement"
            sortOrder="10"
        />
        <!--Manage Announcement - Child Menu Items-->
        <add
            id="Doit_Announcement::manage"
            title="Manage Announcements"
            translate="title"
            module="Doit_Announcement"
            resource="Doit_Announcement::manage"
            parent="Doit_Announcement::announcement"
            sortOrder="10"
            action="announcement/announcement/index"
        />

    </menu>
</config>
